@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.profissaoBody {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.container1 {
    margin: 75px 5vw 0px 5vw;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 100px;
    flex-wrap: wrap;
    text-align: center;
}

.header h1 {
    font-size: clamp(6vw, 6vw, 90px);
    color: #2B5D8C;
    font-weight: normal;
    font-family: "Red Hat Display", sans-serif;
    line-height: 1.1;
    margin-bottom: 10px;
    text-align: start;
}

.header h1 span {
    font-weight: bold;
}

.header p {
    margin-top: 40px;
    color: #2B5D8C;
    font-family: 'Inter', sans-serif;
    font-size: clamp(16px, 2vw, 23px);
}

.header p span {
    font-weight: bolder;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 0 5vw 20px 5vw;
    flex-wrap: wrap;
}

.buttons button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: transparent;
}

.options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-items: center
}

.option {
    font-family: 'Red Hat Display', sans-serif;
    background-color: #FD7B01;
    color: white;
    border: none;
    border-radius: 50px;
    height: 75px;
    width: 100%;
    max-width: 400px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-size: clamp(18px, 2vw, 25px);
}

.option:hover {
    transform: scale(1.09);
    font-weight: bold;
}

.pagination {
    margin-top: 22px;
    text-align: center;
    font-size: clamp(16px, 2vw, 20px);
    font-family: 'Inter', sans-serif;
}

.pagination span {
    margin: 0 5px;
    cursor: pointer;
    color: #2B5D8C;
    transition: color 0.3s, text-decoration 0.3s;
}

.pagination span:hover {
    color: #FD7B01;
}

.active {
    font-weight: bold;
    text-decoration: underline;
    color: #FD7B01;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
    }
    .buttons {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
    }
    .options {
      grid-template-columns: repeat(2, 1fr); /* 2 colunas para tablets */
  }
}
@media screen and (max-width: 400px) and (max-height: 852px) {
  .profissaoBody {
    margin: 0;
    padding: 0;
  }
  .header{
    margin-top: -10px;
    margin-bottom: 50px;
  }
  .header h1 {
    font-size: 30px;
  }
  .options {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .option {
    width: 100%;
    font-size: 17px;
  }
}
@media screen and (max-width: 375px) and (max-height: 667px){
  .header{
      margin-top: -50px;
      margin-bottom: 10px;
  }
  .header p{
    font-size: 13px;
    margin-top: 10px;
  }
}
@media screen and (min-width: 430px) and (max-width: 580px) and (max-height: 932px) {
  .header h1{
    font-size: 40px;
  }
  .header{
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 575px) and (min-height: 750px) and (max-height: 767px){
  .header{
      margin-top: -50px;
  }
  .header p{
    font-size: 13px;
    margin-top: 10px;
  }
}
@keyframes slideUp {
  from {
    transform: translateY(70px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 5;
  }
}

.slideUp2 { 
  animation: slideUp 0.7s ease-in-out forwards;
}

@keyframes slideIn {
  from {
      transform: translateX(-10%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 3;
  }
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 3;
  }
}

.options {
  animation: slideIn 1s ease-out forwards; 
}

.option {
  opacity: 0;
  animation: fadeIn 0.9s ease-out forwards;
  animation-delay: 0.2s;
}

.slideInRight {
  animation: slideInRight 0.9s ease-in-out;
}

.slideInLeft {
  animation: slideInLeft 0.9s ease-in-out;
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(-10%);
  }
  to {
    opacity: 3;
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(10%);
  }
  to {
    opacity: 3;
    transform: translateX(0);
  }
}

@keyframes slideInRight2 {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-30%);
  }
}


.fadeOut {
  animation: slideInRight2 0.4s ease-out forwards;
}

@keyframes slideUpExit {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}

.exitAnimation2 {
  animation: slideUpExit 0.8s ease-in-out forwards;
}