@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
.SalarioEstimadoBody {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container4{
    margin:0;

    .header {
        line-height: 135px;
        margin-top: 100px;
        margin-bottom: 20px;
        height: 300px;
        display: flex;
        justify-content: center;
    }
    
    h1 {
        font-size: 90px;
        color: #003c64;
        line-height: 90px;
        font-family: "Red Hat Display", sans-serif;
        font-weight: 100;
    }
    
    .header span{
        font-weight: bold;
    }
    
    .buttuns{
        display: flex;
        justify-content: space-between;
        margin: 80px 200px 0px 200px;
    
        a{
            display: flex;
            align-items: center;
            margin: 0px 10px 0px 10px;
            font-size: 30px;
            color: #003c64;
            font-weight: bold;
        }
        button{
            display: flex;
            align-items: center;
        }
    }
    .buttuns button {
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s;
        background-color: transparent
    }
    
    .options{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .option {
        font-family: 'red hat display', sans-serif;
        background-color: #FD7B01;
        color: white;
        border: none;
        border-radius: 100px;
        height: 160px;
        width: 50%;
        font-size: 50px;
        font-weight: bold;
        cursor: auto;
    }
}

@keyframes slideUp {
    from {
      transform: translateY(70px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 3;
    }
  }
  
  h1 {
    animation: slideUp 0.8s ease-out forwards;
  }
  .slideUp2 { 
    animation: slideUp 0.8s ease-in-out;
  }

  @keyframes slideIn {
    from {
        transform: translateX(-10%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 3;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 3;
    }
}

.options {
    animation: slideIn 1s ease-out forwards; 
}

.option {
    opacity: 0;
    animation: fadeIn 0.9s ease-out forwards;
    animation-delay: 0.2s;
}

@keyframes slideInRight2 {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(-30%);
    }
  }
  

  .fadeOut1 {
    animation: slideInRight2 0.9s ease-out forwards;
  }

  @keyframes slideUpExit {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(-50px);
      opacity: 0;
    }
  }
  
  .exitAnimation2 {
    animation: slideUpExit 0.8s ease-in-out forwards;
  }